- @lang        ||= 'en'
- @author      ||= ''
- @description ||= ''
- @title         = [@title, 'mokkapan'].compact.join(' - ')
- current_page_relative_path = "."
!!!  
%html(lang="#{@lang}" class="no-js")
  /
     
    Designed and developed by www.hagenburger.net
     
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    - if description = @description
      %meta(name="description" content="#{description}")
    - if author = @author
      %meta(name="author" content="#{author}")
    %title= @title
    %meta(name="viewport" content="width=device-width; initial-scale=1.0")
    %link(rel="shortcut icon" href="#{asset_url('favicon.ico')}")
    %link(rel="apple-touch-icon" href="#{asset_url('apple-touch-icon.png')}")
    %link(rel="stylesheet" href="#{asset_url('stylesheets/mokkapan.css?v=1')}")
    %script(src="//use.typekit.com/fal4qpz.js" async onload="try{Typekit.load()}catch(e){}")
    - if @stylesheet
      %link(rel="stylesheet" href="#{asset_url("stylesheets/#{@stylesheet}.css")}")
    - javascript = @jquery || @javascript || yield_content(:javascript)
    %script for(var e,l='article aside figcaption figure footer header nav section time'.split(' ');e=l.pop();document.createElement(e));try{Typekit.load()}catch(e){}onload=function(){#{javascripts(:mokkapan)}}#{%Q(var ol=function(){#{compress_javascript(javascript)}}) if javascript}
  %body
    %header
      %a#logo(href="#{asset_url('.')}")
        = image_tag 'mokkapan.png', :alt => 'mokkapan'
    #main
      = yield
    %footer

    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    %script !window.jQuery && document.write(unescape('%3Cscript src="#{asset_url('javascripts/vendor/jquery-1.4.2.min.js')}"%3E%3C/script%3E'))
